# These are the packages that need to be installed for every command in this bash configuration to work
bash-completion
bat
cmatrix
exa
fastfetch
fzf
ghostty
git
git-completion
lazydocker
lazygit
starship
tar
tmux
trash-cli
tree
unzip
zoxide
